<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scroll test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <cdk-virtual-scroll-viewport gridVirtualScrollStrategy virtualScrollViewportResize [itemSize]="250" [columns]="6">
      <ion-grid>
          <ion-row>
              <ion-col *cdkVirtualFor="let value of items; trackBy: trackById" size="6" sizeMd="3" sizeSm="4" sizeXl="2" class="ion-no-margin ion-no-padding">
                  <ion-card class="ion-no-margin h250">
                    <ion-card-header>
                      <ion-card-title>{{value.id}}</ion-card-title>
                    </ion-card-header>
                  </ion-card>
              </ion-col>
          </ion-row>
      </ion-grid>
    </cdk-virtual-scroll-viewport>
</ion-content>